//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

//フォント設定
@font-face {
  font-family: "GothicBBBPro";
  src: url(/assets/lib/fonts/A-OTF-GothicBBBPro-Medium.woff) format('woff');
}

@font-face {
  font-family: "nevis";
  src: url(/assets/lib/fonts/nevis.woff) format('woff');
}

@font-face {
  font-family: "Toppan";
  src: url(/assets/lib/fonts/ToppanBunkyuMidashiGothic-ExtraBold.woff) format('woff');
}

// color設定
$primary-color: #ffe33f;
$accent-blue-color: #2ea7e0;
$accent-lightblue-color: #9fd9f6;
$accent-orange-color: #f39800;
$white: #fff;
$black: #231815;

// デフォルト設定
$base-font-family: "GothicBBBPro","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$english-font-family: "nevis", sans-serif;
$bold-font-family: "Toppan", sans-serif;

$base-font-size: 16px;
$base-font-color: $black;
$base-background-color: $white;
