<div class="mv-container l-relative">
  <h1 class="mv-logo l-absolute">
    <!-- <img src="assets/images/mv-logo.svg" alt="卓展2018"> -->
    <object id="js-mv-logo" type="image/svg+xml" data="assets/images/mv-logo.svg" alt="卓展2018"></object>
  </h1>
  <div class="mv-title l-absolute">
    <p>デザインを学ぶ学生による<span class="text-orange">13</span>プロジェクトの成果発表・展示会</p>
    <p class="text-xxlarge english-font">TAKU PUROJECT</p>
  </div>
</div>

<h2 class="text-xxxlarge english-font text-center mb40">ABOUT</h2>
<div class="about-text text-center mb40">
  <p class="mb20">
    「卓展」とは、名古屋市立大学芸術工学部の学生による作品展示会です。 <br>
    プロジェクトに賛同した人々が卓を囲むように集まることから「卓展」となりました。
  </p>
  <p class="mb20">
    部４年生をリーダーとして多種多様なジャンルのプロジェクトを立ち上げ、<br>
    学科・学年の垣根を越えて制作を行います。
  </p>
  <p class="mb20">
    今年も見どころたっぷりの展示会ですので、是非お越しください。
  </p>
</div>
<script>
// Here, the ease animation will be use for the global drawing.
new Vivus('js-mv-logo', {
  type: 'delayed',
  duration: 200,
}),function(){

};
</script>
