<div class="mv-container l-relative">
  <div class="mv-content">
    <h1 class="mv-logo l-absolute">
      <img src="assets/images/mv-logo.png" alt="卓展2018">
    </h1>
    <div class="mv-title l-absolute is-pc">
      <p>デザインを学ぶ学生による<span class="text-orange">13</span>プロジェクトの成果発表・展示会</p>
      <p class="text-xxlarge english-font">TAKU PUROJECT</p>
    </div>
    <div class="sp-mv-title l-absolute is-sp">
      <p>TAKU PUROJECT</p>
    </div>
    <div class="mv-background">
      <% include svg/_background %>
    </div>
    <div class="mv-detail is-pc">
      <div class="mv-detail-container">
        <p class="date mb12"><img src="assets/images/date.svg" alt="8/17(金)〜8/19(日)"></p>
        <p class="time english-font text-xxlarge mb12">10:00 - 17:00</p>
        <p class="text-xlarge">@名古屋市立大学　北千種キャンパス</p>
        <p>●入場無料　●18日オープンキャンパス同時開催　●最終日19日のみ16:30終了</p>
      </div>
    </div>
  </div>
</div>

<div class="contents-container">
  <h2>ABOUT</h2>
  <div class="container">
    <div class="about-text text-center mb40">
      <p class="mb20">
        「卓展」とは、名古屋市立大学芸術工学部の学生による作品展示会です。 <br class="is-pc">
        プロジェクトに賛同した人々が卓を囲むように集まることから「卓展」となりました。
      </p>
      <p class="mb20">
        学部４年生をリーダーとして多種多様なジャンルのプロジェクトを立ち上げ、<br class="is-pc">
        学科・学年の垣根を越えて制作を行います。
      </p>
      <p class="mb20">
        今年も見どころたっぷりの展示会ですので、是非お越しください。
      </p>
    </div>
  </div>

  <h2>DATE</h2>
  <div class="container">
    <p class="about-date">
      <img src="assets/images/date.svg" alt="8/17(金)〜8/19(日)"><br>
      <span class="english-font text-xlarge">10:00 - 17:00</span><br>
      (最終日19日のみ16:30終了)
    </p>
  </div>

  <h2>ACCESS</h2>
  <p class="text-center mb12">名古屋市立大学 北千種キャンパス<br>
  (萱場のバス停から徒歩1分、<br class="is-sp">地下鉄砂田橋駅から徒歩17分)</p>
  <div class="gmap">
    <div colspan="2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.0232931917335!2d136.94523131524517!3d35.180971980313956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDEwJzUxLjUiTiAxMzbCsDU2JzUwLjciRQ!5e0!3m2!1sja!2sus!4v1500212536352" width="" height="" allowfullscreen=""></iframe>
    </div>
  </div>

  <h2>PROJECT</h2>
  <div class="container">
    <div class="project-container">


    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/mico.png" alt="mico">
        </div>
        <div class="project-title-container">
          <span class="project-title">mico</span>
          <p class="project-sub-title is-pc">ー アイデア雑貨で生活を少し豊かにする卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/mico1.png">
        <img src="assets/images/photo/mico2.png">
        <img src="assets/images/photo/mico3.png">
        <img src="assets/images/photo/mico4.png">
        <img src="assets/images/photo/mico5.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          mico（ミーコ）はアイデア雑貨の提案を通じて、プロダクトデザインのスキルを学ぶ卓です。<br class="is-pc">
          日常生活における問題に対して幅広いアイデア展開・プロトタイピングを重ね、斬新で実用的な雑貨を制作します。
        </p>
      </div>
    </div>

    <!-- ▼ product -->

    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/asso.png" alt="asso">
        </div>
        <div class="project-title-container">
          <span class="project-title">asso</span>
          <p class="project-sub-title is-pc">ー うれしい体験を生み出すプロダクトをデザインする卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/asso1.png">
        <img src="assets/images/photo/asso2.png">
        <img src="assets/images/photo/asso3.png">
        <img src="assets/images/photo/asso4.png">
        <img src="assets/images/photo/asso5.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          assoはユーザーにとっての「うれしい体験」を追求したプロダクトをデザインする卓。<br class="is-pc">
          一連のプロダクトデザインのプロセスを実践し、その人にとって本当に使いたいと思えるようなモノとコトを提案します。
        </p>
      </div>
    </div>

    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/cetrois.png" alt="CETROIS">
        </div>
        <div class="project-title-container">
          <span class="project-title">CETROIS</span>
          <p class="project-sub-title is-pc">ー カーデザインを学ぶ卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/cetrois1.png">
        <img src="assets/images/photo/cetrois2.png">
        <img src="assets/images/photo/cetrois3.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          CETROISはカーデザインを学ぶ卓です。<br class="is-pc">
          コンセプト立案からスケッチやカラーおよびマテリアル、そしてクレイモデルまでのカーデザインの一連のプロセスを実践的に学んでいます。<br class="is-pc">
          あらゆるアプローチからカタチについて深く考え、表現力の向上をはかります。
        </p>
      </div>
    </div>

    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/dotus.png" alt="dotus">
        </div>
        <div class="project-title-container">
          <span class="project-title">dotus</span>
          <p class="project-sub-title is-pc">ー ハンディ家電のカタチを創る卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/dotus1.png">
        <img src="assets/images/photo/dotus2.png">
        <img src="assets/images/photo/dotus3.png">
        <img src="assets/images/photo/dotus4.png">
        <img src="assets/images/photo/dotus5.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          「ハンディな生活家電」を提案する中でプロダクトデザインにおける<br class="is-pc">スキルのレベルアップを図る卓です。<br class="is-pc">
          プロセスの中でもスタイリングに重きを置き、<br class="is-pc">モノのユーザビリティや機能を検討し魅力的なカタチを目指します。
        </p>
      </div>
    </div>

    <!-- ▲ product -->

    <!-- ▼ program -->
    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/paplica.png" alt="paplica">
        </div>
        <div class="project-title-container">
          <span class="project-title">paplica</span>
          <p class="project-sub-title is-pc">ー アプリをデザイン・開発する卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/paplica1.png">
        <img src="assets/images/photo/paplica2.png">
        <img src="assets/images/photo/paplica3.png">
        <img src="assets/images/photo/paplica4.png">
        <img src="assets/images/photo/paplica5.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          UXデザイン手法を通してアプリをデザイン・開発していく卓です。<br class="is-pc">
          基本的なwebプログラミングやUXデザインの考え方を学び、
          自分の力で提案したアプリをカタチにしていきます。
        </p>
      </div>
    </div>

    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/ideal.png" alt="ideal">
        </div>
        <div class="project-title-container">
          <span class="project-title">ideal</span>
          <p class="project-sub-title is-pc">ー そうぞうを楽しむ卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/ideal1.png">
        <img src="assets/images/photo/ideal2.png">
        <img src="assets/images/photo/ideal3.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          まだ体験したことのない、どこか心を惹かれるものとは。<br class="is-pc">
          idealは何かを考える楽しさ、それをつくり出すことの難しさを体感する卓です。<br class="is-pc">
          こんなものがあったら面白いなという体験を目指し、過程を大切にしながら制作を進めていきます。<br class="is-pc">
          あなたがそうぞうする理想には、一体どんなものがありますか?
        </p>
      </div>
    </div>

    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/ZAxis.png" alt="ZAxis">
        </div>
        <div class="project-title-container">
          <span class="project-title">ZAxis</span>
          <p class="project-sub-title is-pc">ー 仮想空間で創る卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/ZAxis1.png">
        <img src="assets/images/photo/ZAxis2.png">
        <img src="assets/images/photo/ZAxis3.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          3DCGを用いたコンテンツ制作をする卓です。<br class="is-pc">
          映像・ゲーム・立体造形に関わる3DCGソフトウェアについての学習をメインに、各々が魅力的だと感じるコンテンツの制作を目指します。<br class="is-pc">
          実際にプロの現場でも使われているソフトウェアを使用し、PBR（物理ベースレンダリング）を用いた最先端のCG技術についての理解を深めます。

        </p>
      </div>
    </div>
    <!-- ▲ program -->

    <!-- ▼ funiture -->
    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/thad.png" alt="thad">
        </div>
        <div class="project-title-container">
          <span class="project-title">thad</span>
          <p class="project-sub-title is-pc">ー 名前のない家具をつくる卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/thad1.png">
        <img src="assets/images/photo/thad2.png">
        <img src="assets/images/photo/thad3.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          thad(サッド)は既存の型に当てはまらない「名前のない家具」を提案し、実際に制作する卓です。<br class="is-pc">
          家具を魅力的に展示するための空間も合わせてデザインします。
        </p>
      </div>
    </div>
    <!-- ▲ funiture -->

    <!-- ▼ art -->
    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/ex.png" alt="ex">
        </div>
        <div class="project-title-container">
          <span class="project-title">Ex</span>
          <p class="project-sub-title is-pc">ー 独創的な空間を演出する卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/ex1.png">
        <img src="assets/images/photo/ex2.png">
        <img src="assets/images/photo/ex3.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          各自で決めたテーマをもとにインスタレーションを制作する卓です。<br class="is-pc">
          自分自身を起点にテーマを設定し、各々のテーマからさらにアイデアを広げ作品に落とし込みます。<br class="is-pc">
          ディスカッションを通してアイデアの幅を広げ、魅力的な空間を作り上げます。
        </p>
      </div>
    </div>

    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/lqqp.png" alt="lqqp">
        </div>
        <div class="project-title-container">
          <span class="project-title">LQQP</span>
          <p class="project-sub-title is-pc">ー 音楽・映像を制作する卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/lqqp1.png">
        <img src="assets/images/photo/lqqp2.png">
        <img src="assets/images/photo/lqqp3.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          LQQP（ループ）は音楽・映像制作系の人々が集まった卓です。<br class="is-pc">
          音楽は作編曲・サウンドデザイン・エンジニアリングなど、<br class="is-pc">
          映像は実写撮影・アニメーションなどさまざまな技法を用いて制作します。

        </p>
      </div>
    </div>

    <!-- ▲ art -->
    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/ririri.png" alt="ririri">
        </div>
        <div class="project-title-container">
          <span class="project-title">ﾘﾘﾘ</span>
          <p class="project-sub-title is-pc">ー モノの魅力を再発見しリブランディングする卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/ririri1.png">
        <img src="assets/images/photo/ririri2.png">
        <img src="assets/images/photo/ririri3.png">
        <img src="assets/images/photo/ririri4.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          埋もれているモノの魅力を再発見し、それを引き出すブランディングをする卓です。<br class="is-pc">
          ロゴを製作した後、パッケージや、広報物、展示方法を入念に考えて行きます。

        </p>
      </div>
    </div>

    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/charamel.png" alt="charamel">
        </div>
        <div class="project-title-container">
          <span class="project-title">Charamel</span>
          <p class="project-sub-title is-pc">ー キャラクターや世界観を創造する卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/charamel1.png">
        <img src="assets/images/photo/charamel2.png">
        <img src="assets/images/photo/charamel3.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          趣味、好み、経験をもとにキャラクターや世界観を創造しカタチにする卓です。<br class="is-pc">
          勉強会で表現方法と基礎知識を学び、アウトプットに重きを置いて制作を進めています。<br class="is-pc">
          自分の思いを、本、映像、模型などの自分の好きなカタチで個性豊かに表現しました。

        </p>
      </div>
    </div>
    <div class="project-block">
      <div class="project-main">
        <div class="project-icon">
          <img src="assets/images/logo/me.png" alt="me">
        </div>
        <div class="project-title-container">
          <span class="project-title">ME</span>
          <p class="project-sub-title is-pc">ー zineを作る卓</p>
        </div>
      </div>

      <div class="project-photo">
        <img src="assets/images/photo/me1.png">
        <img src="assets/images/photo/me2.png">
        <img src="assets/images/photo/me3.png">
      </div>

      <div class="project-detail">
        <p class="project-description">
          自由な形式でZINEを制作する卓です。<br class="is-pc">
          コンセプトやテーマをしっかり掲げ、<br class="is-pc">
          自分が表現したい世界観・価値観を紙面に落とし込んでいきます。
        </p>
      </div>
    </div>


    </div>
  </div>

  <h2>MAP</h2>
  <div class="container">
    <div class="pc-map-container is-pc">
      <img src="assets/images/floor1-pc.png">
      <img src="assets/images/floor2-pc.png">
      <img src="assets/images/floor3-pc.png">
    </div>
    <div class="sp-map-container is-sp">
      <img src="assets/images/floor1-sp.png">
      <img src="assets/images/floor2-sp.png">
      <img src="assets/images/floor3-sp.png">
    </div>
  </div>
</div>
<footer>
  <div class="sns-container">
    <a href="https://www.facebook.com/geikou.takuten/" target="_blank">
      <p>\ facebook /</p>
      <img src="assets/images/icon-fb.png" alt="facebookのロゴ">
    </a>
    <a href="https://twitter.com/takuten_geikou" target="_blank">
      <p>\ twitter /</p>
      <img class="mt8" src="assets/images/icon-twitter.png" alt="twitterのロゴ">
    </a>
  </div>
  <div class="sponser-container">
    <a href="http://www.sda.nagoya-cu.ac.jp/dousoukai/index.html" target="_blank"><img src="assets/images/kenkokai.png" alt="萱光会"></a>
  </div>
  <p class="copy">© 2018 卓展</p>
</footer>
