<div class="mv-container l-relative">
  <div class="mv-content">
    <h1 class="mv-logo l-absolute">
      <img src="assets/images/mv-logo.png" alt="卓展2018">
    </h1>
    <div class="mv-title l-absolute is-pc">
      <p>デザインを学ぶ学生による<span class="text-orange">13</span>プロジェクトの成果発表・展示会</p>
      <p class="text-xxlarge english-font">TAKU PUROJECT</p>
    </div>
    <div class="sp-mv-title l-absolute is-sp">
      <p>TAKU PUROJECT</p>
    </div>
    <div class="mv-background">
      <% include svg/_background %>
    </div>
    <div class="mv-detail is-pc">
      <div class="mv-detail-container">
        <p class="date mb12"><img src="assets/images/date.svg" alt="8/17(金)〜8/19(日)"></p>
        <p class="time english-font text-xxlarge mb12">10:00 - 17:00</p>
        <p class="text-xlarge">@名古屋市立大学　北千種キャンパス</p>
        <p>●入場無料　●18日オープンキャンパス同時開催　●最終日19日のみ16:30終了</p>
      </div>
    </div>
  </div>
</div>

<div class="about-container">
  <h2>ABOUT</h2>
  <div class="container">
    <div class="about-text text-center mb40">
      <p class="mb20">
        「卓展」とは、名古屋市立大学芸術工学部の学生による作品展示会です。 <br class="is-pc">
        プロジェクトに賛同した人々が卓を囲むように集まることから「卓展」となりました。
      </p>
      <p class="mb20">
        部４年生をリーダーとして多種多様なジャンルのプロジェクトを立ち上げ、<br class="is-pc">
        学科・学年の垣根を越えて制作を行います。
      </p>
      <p class="mb20">
        今年も見どころたっぷりの展示会ですので、是非お越しください。
      </p>
    </div>
  </div>

  <h2>DATE</h2>
  <div class="container">
    <p class="about-date">
      <img src="assets/images/date.svg" alt="8/17(金)〜8/19(日)"><br>
      <span class="english-font text-xlarge">10:00 - 17:00</span><br>
      (最終日19日のみ16:30終了)
    </p>
  </div>

  <h2>PROJECT</h2>
  <div class="container">
    <div class="project-container">
      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/mico.png" alt="mico">
        </div>
        <div class="project-detail">
          <p class="project-title">mico</p>
          <p class="project-description">
            日常の小さな問題をスマートに解決するアイデア雑貨を<br class="is-pc">
            制作する卓です。アイデア展開とプロトタイピングを<br class="is-pc">
            中心的に行い、斬新で実用的なモノを作ります。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/thad.png" alt="thad">
        </div>
        <div class="project-detail">
          <p class="project-title">thad</p>
          <p class="project-description">
            既存の型に当てはまらない「名前のない家具」<br class="is-pc">
            を制作する卓です。家具を魅力的に展示する<br class="is-pc">
            ための空間も合わせてデザインします。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/rerere.png" alt="リリリ">
        </div>
        <div class="project-detail">
          <p class="project-title bold-font">リリリ</p>
          <p class="project-description">
            埋もれている魅力を再発見し、それを引き出す<br class="is-pc">
            ブランディングする卓です。パッケージや、広報部、<br class="is-pc">
            展示方法などを考えていきます。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/dotus.png" alt="dotus">
        </div>
        <div class="project-detail">
          <p class="project-title">dotus</p>
          <p class="project-description">
            「ハンディな生活家電」を制作する卓です。プロダクト<br class="is-pc">
            デザインのプロセスの中でもスタイリングに重きを置き、<br class="is-pc">
            ユーザビリティや魅力的な形を追求します。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/asso.png" alt="asso">
        </div>
        <div class="project-detail">
          <p class="project-title">asso</p>
          <p class="project-description">
            ユーザーにとっての「うれしい体験」を追求した<br class="is-pc">
            プロダクト・サービスをデザインする卓です。<br class="is-pc">
            本当に使いたいと思えるようなモノとコトを提案します。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/paplica.png" alt="paplica">
        </div>
        <div class="project-detail">
          <p class="project-title">paplica</p>
          <p class="project-description">
            UXデザイン手法を通してアプリをデザイン・開発<br class="is-pc">
            していく卓です。自由に提案し、様々なデザイン手法や<br class="is-pc">
            開発を通してカタチにしていきます。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/ZAxis.png" alt="ZAxis">
        </div>
        <div class="project-detail">
          <p class="project-title">Z-Axis</p>
          <p class="project-description">
            3DCGを用いたコンテンツ制作をする卓です。映像・<br class="is-pc">
            ゲーム・立体造形に関わる3DCGソフトウェアを使い<br class="is-pc">
            魅力的なコンテンツの制作を目指します。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/cetrois.png" alt="CETROIS">
        </div>
        <div class="project-detail">
          <p class="project-title">CETROIS</p>
          <p class="project-description">
            カーデザインの卓です。スケッチからカラーマテリアル、<br class="is-pc">
            クレイモデルまでのカーデザインの一連の流れを学んだ<br class="is-pc">
            上で、制作します。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/LQQP.png" alt="LQQP">
        </div>
        <div class="project-detail">
          <p class="project-title">LQQP</p>
          <p class="project-description">
            音楽制作と映像制作の合同卓です。音楽制作は作編曲から<br class="is-pc">
            サウンドデザイン、エンジニアリングなど、映像制作は実写・<br class="is-pc">
            アニメーションなどを行います。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/Ex.png" alt="Ex">
        </div>
        <div class="project-detail">
          <p class="project-title">Ex</p>
          <p class="project-description">
            インスタレーションを用いて自己表現する卓です。<br class="is-pc">
            制作、ディスカッションを通してアイデアの幅を広げ、<br class="is-pc">
            素材研究や展示方法についても考えます。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/ME.png" alt="ME">
        </div>
        <div class="project-detail">
          <p class="project-title">ME</p>
          <p class="project-description">
            自由な形式でZINEを制作する卓です。<br class="is-pc">
            コンセプトやテーマをしっかり掲げ、自分が表現したい<br class="is-pc">
            世界観・価値観を紙面に落とし込んでいきます。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/ideal.png" alt="ideal">
        </div>
        <div class="project-detail">
          <p class="project-title">ideal</p>
          <p class="project-description">
            未来のデジタルコンテンツを制作する卓です。理想(ideal)<br class="is-pc">
            への様々なアプローチを考え(idea)、対処(I deal)していく<br class="is-pc">
            過程を大切にして制作します。
          </p>
        </div>
      </div>

      <div class="project-block">
        <div class="project-icon">
          <img src="assets/images/logo/Charamel.png" alt="Charamel">
        </div>
        <div class="project-detail">
          <p class="project-title">Charamel</p>
          <p class="project-description">
            キャラクターや世界観を創造する卓です。<br class="is-pc">
            勉強会で表現の仕方を学び、映像や本、模型やグッズ<br class="is-pc">
            など様々な方法で自分の思いをカタチにしていきます。
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2>ACCESS</h2>
  <p class="text-center mb12">名古屋市立大学 北千種キャンパス<br>
  (萱場のバス停から徒歩1分、<br class="is-sp">地下鉄砂田橋駅から徒歩17分)</p>
  <div class="gmap">
    <div colspan="2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.0232931917335!2d136.94523131524517!3d35.180971980313956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDEwJzUxLjUiTiAxMzbCsDU2JzUwLjciRQ!5e0!3m2!1sja!2sus!4v1500212536352" width="" height="" allowfullscreen=""></iframe>
    </div>
  </div>
  <p></p>
</div>
<footer>
  <div class="sns-container">
    <a href="https://www.facebook.com/geikou.takuten/" target="_blank">
      <p>\ facebook /</p>
      <img src="assets/images/icon-fb.png" alt="facebookのロゴ">
    </a>
    <a href="https://twitter.com/takuten_geikou" target="_blank">
      <p>\ twitter /</p>
      <img class="mt8" src="assets/images/icon-twitter.png" alt="twitterのロゴ">
    </a>
  </div>
  <div class="sponser-container">
    <a href="http://www.sda.nagoya-cu.ac.jp/dousoukai/index.html" target="_blank"><img src="assets/images/kenkokai.png" alt="萱光会"></a>
  </div>
  <p class="copy">© 2018 卓展</p>
</footer>

<style>
  #graphic01,
  #graphic02,
  #graphic03,
  #art01,
  #art02,
  #art03,
  #product01,
  #product02,
  #product03,
  #product04,
  #program01,
  #program02,
  #program03,
  #program04,
  #program05,
  #furniture01,
  #furniture02,
  #furniture03,
  #furniture04
   {
    display: none;
  }

  .mv-logo,
  .mv-title,
  .mv-detail,
  .sp-mv-title,
  .cls-2,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-14 {
    opacity: 0;
  }

</style>

<script>
$(function(){

  // graphic
  function graphicAnimation(){
    new Vivus('graphic01', {
      type: 'delayed',
      duration: 80,
    });

    new Vivus('graphic02', {
      type: 'delayed',
      duration: 80,
    });
  }

  setTimeout(function(){
    $("#graphic01,#graphic02,#graphic03").fadeIn();
    graphicAnimation();
  },400);


  // art
  function artAnimation(){
    new Vivus('art01', {
      type: 'delayed',
      duration: 80,
    });

    new Vivus('art02', {
      type: 'delayed',
      duration: 80,
    });
  }

  setTimeout(function(){
    $("#art01,#art02,#art03").fadeIn();
    artAnimation();
  },800);


  // product
  function productAnimation(){
    new Vivus('product03', {
      type: 'delayed',
      duration: 80,
    });

    new Vivus('product04', {
      type: 'delayed',
      duration: 80,
    });
  }

  setTimeout(function(){
    $("#product01, #product02, #product03, #product04").fadeIn();
    productAnimation();
  },1100);

  // program
  function programAnimation(){
    new Vivus('program02', {
      type: 'delayed',
      duration: 80,
    });

    new Vivus('program03', {
      type: 'delayed',
      duration: 80,
    });
  }

  setTimeout(function(){
    $("#program01,#program02,#program03,#program04,#program05").fadeIn();
    programAnimation();
  },1400);

  // furniture

  function furnitureAnimation(){
    new Vivus('furniture01', {
      type: 'delayed',
      duration: 70,
    });

    new Vivus('furniture02', {
      type: 'delayed',
      duration: 70,
    });

    new Vivus('furniture03', {
      type: 'delayed',
      duration: 70,
    }, animationEnd);

    new Vivus('furniture04', {
      type: 'delayed',
      duration: 70,
    });
  }

  setTimeout(function(){
    $("#furniture01 ,#furniture02, #furniture03, #furniture04").fadeIn();
    furnitureAnimation();
  },1400);

  $mvDetail = $('.mv-title, .mv-detail')
  function animationEnd(){
     $('.cls-2, .cls-11, .cls-12, .cls-13, .cls-14').css({opacity: '0.0'})
        .animate({opacity: '1'}, 400);

     $('.mv-logo').css({opacity: '0.0'})
        .animate({opacity: '1'}, 400);

    if($(window).width() > 768){
      $mvDetail.css({opacity: '0.0'}).animate({opacity: '1'}, 400);
    }

    if($(window).width() < 768){
      $('.sp-mv-title').css({opacity: '0.0'}).animate({opacity: '1'}, 400);
    }

    $('.cls-34').css({
      fill: '#9ed8f5',
      transition: "8.0s"
    });

    $('.cls-35, .cls-56, .cls-53').css({
      fill: '#fff',
      transition: "8.0s"
    });
    $('.cls-20, .cls-4, .cls-47').css({
      fill: '#2ca6e0',
      transition: "8.0s"
    });
    $('.cls-23, .cls-27').css({
      fill: '#f39800',
      transition: "8.0s"
    });
  }
});
</script>
