.mv-container {
  margin: 60px 0 60px 60px;
  width : calc(100vw - 120px);
  height: calc(100vh - 120px);
  width : -webkit-calc(100vw - 120px);
  height: -webkit-calc(100vh - 120px);
  background-color: $primary-color;
  background-image: url('../images/mv-background.svg');
  background-position: center center;
  background-size: 135%;

  &::before {
    content: "";
    width: 132px;
    height: 360px;
    position: absolute;
    background-color: $primary-color;
    right: 0;
    top: 0;
  }

  .mv-title {
    top: -28px;
    left: -14px;
  }

  .mv-logo {
    width: 150px;
    right: -24px;
    top: -28px;
  }
}
