html:before,
html:after,
body:before,
body:after {
  content: "";
  background: $white;
  position: fixed;
  display: block;
  z-index: 1;
}

/* 上 */
html:before {
  height: 60px;
  width: 100vw;
  left: 0;
  top: 0;
}

/* 右 */
html:after {
  width: 60px;
  height: 100vh;
  right: 0;
  top: 0;
}

/* 下 */
body:before {
  height: 60px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

/* 左 */
body:after {
  width: 60px;
  height: 100vw;
  top: 0;
  left: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
}
