.mv-container {
  &:before,
  &:after {
    content: "";
    background: $white;
    position: absolute;
    display: block;
    z-index: 1;
  }

  &:before {
    height: 60px;
    width: 100vw;
    left: 0;
    top: 0;
  }

  &:after {
    width: 60px;
    height: 100vh;
    right: 0;
    top: 0;
  }

  .mv-content {
    width : 100vw;
    height: 100vh;
    background-color: $primary-color;

    &:before,
    &:after {
      content: "";
      background: $white;
      position: absolute;
      display: block;
      z-index: 1;
    }

    &:before {
      height: 60px;
      width: 100vw;
      bottom: 0;
      left: 0;
    }

    &:after {
      width: 60px;
      height: 100vh;
      top: 0;
      left: 0;
    }

    .mv-title {
      top: 32px;
      left: 44px;
      z-index: 2;
    }

    .mv-logo {
      width: 150px;
      right: 36px;
      top: 32px;
      z-index: 2;

      &::before{
        content: "";
        position: absolute;
        right: 24px;
        top: 28px;
        width: 120px;
        height: 340px;
        background-color: $primary-color;
        z-index: 2;
      }

      img {
        width: 150px;
        height: auto;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 5
      }
    }

    .mv-background {
      width: 100vw;
      height: 100vh;
      padding: 20px;
      overflow: hidden;
      position: relative;

      svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100vw;
        height: auto;
      }
    }

    .mv-detail {
      position: absolute;
      bottom: 32px;
      left: 44px;
      z-index: 5;

      &:after {
        content: "";
        bottom: 28px;
        left: 16px;
        width: 386px;
        height: 150px;
        position: absolute;
        background-color: #ffe33f;
        z-index: -1;
      }

      .mv-detail-container {
        .date {
          height: 52px;

          img {
            height: 100%;
          }
        }

        .time {
          letter-spacing: -2.5px;
        }
      }
    }
  }

  @media(max-width: 780px){
    &:before {
      height: 20px;
    }

    &:after {
      width: 20px;
    }

    .mv-content {
      &:before {
        height: 20px;
      }
      &:after {
        width: 20px;
      }

      .mv-logo {
        width: 100px;
        right: 10px;
        top: 10px;
        z-index: 2;

        &::before{
          right: 10px;
          top: 10px;
          width: 90px;
          height: 230px;
        }

        img {
          width: 100px;
          height: auto;
          position: absolute;
          right: 0;
          left: 0;
        }
      }
      .mv-background {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: auto;
          height: 100vh;
        }
      }
    }
  }
}


.about-container  {
  width: calc(100% - 120px);
  margin: 40px auto 0;
  padding: 40px 0;
  background-image: url('../images/about-background.png');
  background-size: cover;
  background-repeat: repeat-y;

  h2 {
    font-family: $english-font-family;
    font-size: 48px;
    text-align: center;
    position: relative;
    letter-spacing: 4px;
    margin: 28px auto 20px;
    width: 40%;
  }

  .container {
    padding: 12px 0 40px;

    .about-text {
      line-height: 2.2;
    }

    .about-date {
      margin: 0 auto 40px;
      text-align: center;

      img {
        width: 35%;
        margin-bottom: 16px;
      }
    }
  }
}

@media(max-width: 780px){
  .about-container  {
    width: calc(100% - 40px);
    margin: 120px auto 0;
    padding: 40px 0;
    background-image: url('../images/about-background.png');
    background-size: cover;
    background-repeat: repeat-y;

    h2 {
      width: 80%;
    }

    .container {
      padding: 0 2%;

      .about-text {
        line-height: 1.4;
      }

      .about-date {
        img {
          width: 90%;
          margin-bottom: 16px;
        }
      }
    }
  }
}
